@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


:root {
    --accent: white;
    --darkaccent: color-mix(in srgb, var(--accent) 70%, #470046);
    --lightaccent: color-mix(in srgb, var(--accent) 70%, #fbffbb);
    --bg: white;
}

body {
    font-family: 'Noto Sans KR';
    background-color: var(--bg);
    margin: 0;
}

a {
    text-decoration: var(--accent) wavy underline;
    color: inherit;
}

.nodeco {
    text-decoration: none;
}

a :hover {
    color: var(--darkaccent);
}

#nav {
    position: fixed;
    z-index: 99;
    background: linear-gradient(90deg, var(--accent), var(--lightaccent));
    color: var(--bg);
    width: 100%;
    max-height: 64px;
}

.nav-item {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1486px;
    align-items: center;
}

.nav-item div {
    padding: 10px;
}

.float-right {
    margin-left: auto;
    display:flex;
}

.float-right div {
    margin-left: 5px;
}

.button {
    padding: 10px;
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 15px;
    max-width: 100px;
    text-align: center;
}

.button :hover {
    cursor: pointer;
    color: var(--darkaccent);
}

#loginout, #editorbt {
    border-width: 2px;
    border-style: solid;
    border-color: var(--darkaccent);
}

input, select, .imageUploader {
    height: 34px;
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid var(--accent);
}

select {
    height: 36px;
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid var(--accent);
}
textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 2px solid var(--accent);
    border-radius: 15px;
}

#container {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    padding: 130px 5px;
}

#page_title {
    font-size: 2rem;
    padding: 10px 0;
}

#post_title, #titlepreview {
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    padding: 10px 0;
}

#postlist {
    display: flex;
    flex-wrap: wrap;
}

.postlist {
    width: 48%;
    padding: 5px;
}

.eyecatch {
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.eyecatchimg, #imagepreview img {
    filter:brightness(85%);
    aspect-ratio: 4 / 1;
    border-radius: 15px 15px 0 0;
    width: 100vw;
    max-width: 740px;
    object-fit: cover;
}

.eyecatchimg {
    max-width: 750px !important;
    margin: 0 -5px;
}

.emoji {
    height: 2em;
    vertical-align: middle;
    transition: transform .2s ease;
}

.emoji:hover {
    transform: scale(1.2);
}

.post_title {
    font-size: 1.7rem;
}

.editor_container {
    display: flex;
}

.editor {
    width: 50%;
    height: calc(100vh - 360px);
    padding-right: 10px;
}

.editor textarea {
    width: 100%;
    height: calc(100vh - 360px - 180px);
    padding: 0 2px;
    border-width: 0px !important;
    border-radius: 0 !important;
}

.parser {
    width: 50%;
    height: calc(100vh - 360px);
    overflow: scroll;
}

#tools {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

#tools div {
    margin-left: 5px;
}

#leavecomment {
    margin-left: auto;
    margin-bottom: 10px;
}

#comment {
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
}

.commentList {
    border-top: 2px solid var(--lightaccent);
    padding: 10px 0;
}

.createdAtView {
    color: grey;
    text-align: right;
    font-size: 0.8em;
}

.usernameView {
    color: grey;
    text-align: right;
}