@font-face {
    font-family: 'defaultGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --accent: white;
    --darkaccent: color-mix(in srgb, var(--accent) 70%, #470046);
    --lightaccent: color-mix(in srgb, var(--accent) 70%, #fbffbb);
    --bg: rgb(245, 245, 245);
}

body {
    font-family: 'defaultGothic';
    margin: 0;
}

i {
    margin-top: 2px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: var(--accent);
}

.nodeco {
    color: inherit;
}

.handle {
    padding: 5px;
    background-color: var(--bg);
    border-radius: 15px;
}

a :hover {
    color: var(--darkaccent);
}

.logo {
    -webkit-filter: brightness(0) invert(1); 
    filter: brightness(0) invert(1);
    height: 24px;
}

#nav {
    position: fixed;
    z-index: 99;
    background: linear-gradient(90deg, var(--accent), var(--lightaccent));
    color: var(--bg);
    width: 100%;
    max-height: 64px;
}

.nav-item {
    max-height: 64px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1480px;
    align-items: center;
}

.nav-item div {
    padding: 10px;
}

.float-right {
    margin-left: auto;
    display:flex;
}

.float-right div {
    margin-left: 5px;
}

.hline {
    height: 7px;
    width: 100px;
    margin: 15px;
    background-color: var(--darkaccent);
}

.button {
    padding: 8px 10px 5px 10px;
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 15px;
    max-width: 100px;
    text-align: center;
}

.bx-log-out, .bx-log-in {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.button:hover, .selected {
    cursor: pointer;
    color: var(--darkaccent);
    background-color: var(--lightaccent);
}

#container {
    line-height: 1.8;
    width: calc(100% - 10px);
    max-width: 740px;
    margin: 0 auto;
    padding: 64px 5px;
}

input, .imageUploader {
    height: 34px;
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid var(--accent);
    line-height: 1.8;
    font-size: 1rem;
    font-family: 'defaultGothic';
}

input::placeholder, textarea::placeholder {
    font-size: 1rem;
    font-family: 'defaultGothic';
    padding: 0px;
}

input:focus, textarea:focus, select:focus{
    outline: #fff solid 0px;
  }

#host {
    margin-bottom: 10px;
}

select {
    height: 36px;
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid var(--accent);
    line-height: 1.8;
    font-size: 1rem;
    font-family: 'defaultGothic';
}

textarea {
    padding: 5px;
    width: 100%;
    height: 100px;
    resize: none;
    border: 2px solid var(--accent);
    border-radius: 15px;
    line-height: 1.8;
    font-size: 1rem;
    font-family: 'defaultGothic';
}

#page_title {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 64px;
    padding-bottom: 30px;
}

#blogAvatar {
    border-radius: 50%;
    width: 150px;
    max-width: 20%;
    aspect-ratio: 1 / 1;
    margin: 15px;
}

#blogIntro {
    padding-bottom: 20px;
    padding-top: 10px;
}

#blognav{
    display: flex;
    overflow: auto;
    gap: 10px;
    padding: 10px 0;
}

#setting, #follow, #unfollow {
    padding: 8px 10px 0px 10px;
}

#post_title {
    color: white;
    position: absolute;
    z-index: 1;
    padding: 10px;
}

#titlepart {
    font-size: 2rem;
}

#categorypart {
    font-size: 1.2rem;
}

#postlist {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postlist {
    width: 45%;
}

.eyecatch {
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.eyecatchimg, #imagepreview img {
    filter:brightness(85%);
    aspect-ratio: 4 / 1;
    border-radius: 0 0 15px 15px;
    width: 100vw;
    min-height: 180px;
    max-width: 735px;
    object-fit: cover;
}

.eyecatchimg {
    max-width: 750px !important;
    margin: 0 -5px;
}

.emoji {
    height: 2em;
    vertical-align: middle;
    transition: transform .2s ease;
}

.emoji:hover {
    transform: scale(1.2);
}

.post_title {
    font-size: 1.7rem;
}

.editor_container {
    display: flex;
}

.editor {
    width: 50%;
    padding-right: 10px;
}

.editor textarea {
    width: 100%;
    height: calc(100vh - 190px - 192px);
    border-width: 0px !important;
    border-radius: 0 !important;
    padding: 5px;
}

.parser {
    width: 50%;
    height: calc(100vh - 192px);
}

#contentpreview {
    max-height: calc(100vh - 197px - max(180px, 735px / 4));
    overflow: scroll;
    padding: 0 5px;
}

#tools {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

#tools div {
    margin-left: 5px;
}

#leavecomment {
    margin-left: auto;
    margin-bottom: 10px;
}

#comment {
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
}

.commentList {
    border-top: 2px solid var(--lightaccent);
    padding: 10px 0;
}

.createdAtView {
    color: grey;
    text-align: right;
    font-size: 0.8em;
}

.usernameView {
    color: grey;
    text-align: right;
}

.commentTime {
    color: grey;
    font-size: 0.8em;
}

.commentUser{
    margin: 5px auto;
    font-weight: 700;
    text-align: left;
    color: var(--darkaccent);
}

.commentText {
    margin: 10px 0;
    padding: 10px;
    border-left: 2px solid var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    
    .parser{
        display: none;
    }

    .editor {
        width: 100%;
    }

    .postlist {
        width: 100%;
    }
}

.nothingHere {
    display: flex;
    height: 256px;
    background-color: var(--bg);
    color: var(--darkaccent);
    border-radius: 30px;
    border: var(--accent) dashed 2px;
    flex-direction: column;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.nothingHere i {
    font-size: 10rem;
    color: var(--accent);
}