@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


:root {
    --accent: #86b300;
    --darkaccent: rgb(96, 128, 0);
    --bg: rgb(249, 249, 249);
}

body {
    font-family: 'Noto Sans KR';
    background-color: var(--bg);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a :hover {
    color: var(--darkaccent);
}

#nav {
    position: fixed;
    z-index: 99;
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
    max-height: 100px;
}

.nav-item {
    display: flex;
    margin: 10px auto;
    width: 100%;
    max-width: 740px;
}

.nav-item div {
    margin: 10px;
}

.button {
    padding: 10px;
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 15px;
    max-width: 100px;
    text-align: center;
}

#loginout {
    border-width: 2px;
    border-style: solid;
    border-color: var(--darkaccent);
}

input {
    height: 36px;
    width: 100%;
    padding: 0 2px;
    border-width: 0px;
}

#container {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    padding: 130px 0;
}

#page_title {
    font-size: 2rem;
    padding: 10px 0;
}

#postlist {
    display: flex;
}

.postlist {
    width: 50%;
    padding: 5px;
}

.eyecatch {
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    width: 100%;
}

.post_title {
    font-size: 1.7rem;
}

.editor_container {
    display: flex;
}

.editor {
    width: 50%;
    height: calc(100vh - 360px);
    padding-right: 10px;
}

.editor textarea {
    width: 100%;
    height: calc(100vh - 360px - 108px);
    padding: 0 2px;
    border-width: 0px;
}

.parser {
    width: 50%;
    height: calc(100vh - 360px);
}