@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


:root {
    --accent: #86b300;
    --darkaccent: rgb(96, 128, 0);
    --bg: rgb(249, 249, 249);
}

body {
    font-family: 'Noto Sans KR';
    background-color: var(--bg);
    margin: 0;
}

#nav {
    position: fixed;
    z-index: 99;
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
    max-height: 100px;
}

.nav-item {
    display: flex;
    margin: 10px auto;
    width: 100%;
    max-width: 740px;
}

.nav-item div {
    margin: 10px;
}

.button {
    padding: 10px;
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 15px;
}

#container {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    padding: 130px 0;
}

.editor_container {
    display: flex;
}

.editor {
    width: 50%;
    height: calc(100vh - 260px);
    padding-right: 10px;
}

.editor textarea {
    width: 100%;
    height: calc(100vh - 260px);
}

.parser {
    width: 50%;
    height: calc(100vh - 260px);
}